@model ESL.Api.Models.BusinessEntities.FlowChange

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FlowChange</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OperatorID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OperatorID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestedTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestedTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestedTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OffTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OffTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeterID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeterID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangeBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangeBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OldValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OldValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OldUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OldUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangeByUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangeByUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Accepted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accepted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifyFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifyFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotifiedFacil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotifiedFacil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotifiedPerson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotifiedPerson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShiftNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShiftNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Yr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Yr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeqNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeqNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkOrders)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkOrders)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RelatedTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelatedTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OperatorType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OperatorType)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FacilNo" />
        <input type="hidden" asp-for="LogTypeNo" />
        <input type="hidden" asp-for="EventID" />
        <input type="hidden" asp-for="EventID_RevNo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
