@model ESL.Core.Models.BusinessEntities.Facility

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Facility</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacilName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacilName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacilAbbr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacilAbbr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacilType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacilType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SortNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SortNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisibleTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisibleTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacilFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacilFullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FacilNo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
