@model IEnumerable<ESL.Core.Models.BusinessEntities.Facility>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FacilName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FacilAbbr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FacilType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SortNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisibleTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FacilFullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FacilName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FacilAbbr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FacilType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SortNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisibleTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FacilFullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FacilNo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FacilNo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FacilNo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
