@model ESL.Core.Models.ViewModels.AllEventsViewModel

@{
    ViewBag.Title = "MWD ESL Home Page";
    // ViewBag.ShowAlert = true;
}

@* <div class="float-left">
    @{
        await Html.RenderPartialAsync("_PlantMenu", List<ESL.Core.Models.BusinessEntities.Facil>);
    }
</div> *@

@section Scripts {
    <script src="@Url.Content("~/Scripts/ESLScripts.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/datepickerrange.js")" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var x = document.getElementById("dialog-message");
            if (x) {
                alert(x.innerHTML);
                x.innerHTML.val("");
            }

            var refreshIntervalId = setInterval(KeepSessionAlive, 10000);

            function KeepSessionAlive() {
                url = '@Url.Action("KeepSessionAlive", "AllEvents")';
                $.get(url, { cache: false }, function () {
                });
            }
        });

    </script>
}

@* @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>API result</div>
    <div>@ViewData["ApiResult"]</div>

    <div>Graph API result</div>
</div> *@



<div class="jumbotron">

<div class="row">
    <div class="col-md-2">
            <div class="cardtext-center col-lg-4 mb-3 d-flex align-items-stretch" style="width: 18rem;">
            @* <img src="..." class="card-img-top" alt="..."> *@
            <div class="card-body"> 
                <a href="#" class="btn btn-primary">
                    <h5 class="card-title">OCC</h5>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
            <div class="cardtext-center col-lg-4 mb-3 d-flex align-items-stretch" style="width: 18rem;">
            @* <img src="..." class="card-img-top" alt="..."> *@
            <div class="card-body">
                <a href="#" class="btn btn-primary">
                    <h5 class="card-title">Diemer</h5>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
            <div class="cardtext-center col-lg-4 mb-3 d-flex align-items-stretch" style="width: 18rem;">
            @* <img src="..." class="card-img-top" alt="..."> *@
            <div class="card-body">
                <a href="#" class="btn btn-primary"<h5 class="card-title">Jensen</h5>
                    </a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
            <div class="cardtext-center col-lg-4 mb-3 d-flex align-items-stretch" style="width: 18rem;">
            @* <img src="..." class="card-img-top" alt="..."> *@
            <div class="card-body">
                <a href="#" class="btn btn-primary">
                    <h5 class="card-title">Mills</h5>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
            <div class="cardtext-center col-lg-4 mb-3 d-flex align-items-stretch" style="width: 18rem;">
            @* <img src="..." class="card-img-top" alt="..."> *@
            <div class="card-body">
                <a href="#" class="btn btn-primary">
                    <h5 class="card-title align-content-center">Weymouth</h5>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
            <div class="cardtext-center col-lg-4 mb-3 d-flex align-items-stretch" style="width: 18rem;">
            @* <img src="..." class="card-img-top" alt="..."> *@
            <div class="card-body">
                <a href="#" class="btn btn-primary">
                    <h5 class="card-title">Skinner</h5>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="cardtext-center bg-info" style="width: 18rem;">
            @* <img src="..." class="card-img-top" alt="..."> *@
            <div class="card-body">
                <a href="#" class="btn btn-primary">
                    <h5 class="card-title">Desert</h5>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="cardtext-center bg-info" style="width: 18rem;">
            @* <img src="..." class="card-img-top" alt="..."> *@
            <div class="card-body">
                <a href="#" class="btn btn-primary">
                    <h5 class="card-title">Intake</h5>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="cardtext-center bg-info" style="width: 18rem;">
            @* <img src="..." class="card-img-top" alt="..."> *@
            <div class="card-body">
                <a href="#" class="btn btn-primary">
                    <h5 class="card-title">Gene</h5>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="cardtext-center bg-info" style="width: 18rem;">
            @* <img src="..." class="card-img-top" alt="..."> *@
            <div class="card-body">
                <a href="#" class="btn btn-primary">
                    <h5 class="card-title">Iron</h5>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="cardtext-center bg-info" style="width: 18rem;">
            @* <img src="..." class="card-img-top" alt="..."> *@
            <div class="card-body">
                <a href="#" class="btn btn-primary">
                    <h5 class="card-title">Eagle</h5>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="cardtext-center bg-info" style="width: 18rem;">
            @* <img src="..." class="card-img-top" alt="..."> *@
            <div class="card-body">
                <a href="#" class="btn btn-primary">
                    <h5 class="card-title">Hinds</h5>
                </a>
            </div>
        </div>
    </div>
</div>

@* For QA Teting using DVL *@
@if (true)
{
    <div class="row">
        <div class="cardtext-center bg-info" style="width: 18rem;">
            @* <img src="..." class="card-img-top" alt="..."> *@
            <div class="card-body">
                <a href="#" class="btn btn-primary">
                    <h5 class="card-title">DVL</h5>
                </a>
            </div>
        </div>
    </div>
}
</div> 